@page
@model RepPortal.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
	ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>

@if (Model.StatusMessage != null)
{
	<div class="alert alert-info">@Model.StatusMessage</div>
}
else
{
	<div class="alert alert-danger">An error occurred.</div>
}