@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If we have an account with that email address, we have sent you an email with a link to reset your password. If you do not receive an email, please check your spam folder or try again later.

</p>
<p>
    If the account doesn't exist, use the information we sent to your agency to create a new account by going to the Register page.
</p>
