@page "/admin/folders"
@using System.Diagnostics
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@inject FolderAdminService FolderService
@inject NavigationManager Navigation

<h3>Manage Folders</h3>

<div class="d-flex gap-3 align-items-end mb-3 flex-wrap">
    <select @bind="SelectedTable" @bind:after="LoadFolders" class="form-select" style="width: 300px">
        <option value="FormsFolders">Forms Folders</option>
        <option value="MarketingFolders">Marketing Folders</option>
        <option value="PricebookFolders">Pricebook Folders</option>
    </select>

    @if (SelectedTable == "FormsFolders")
    {
        <button class="btn btn-outline-primary" @onclick="OpenFormFileManager">Manage Files In These Folders</button>
    }
</div>

<SfGrid TValue="FolderRecord" @ref="GridRef"
        DataSource="@FolderList"
        Toolbar="@(new[] { "Add", "Edit", "Delete", "Update", "Cancel" })"
        AllowPaging="true"
        Width="100%">
    <GridEditSettings AllowEditing="true"
                      AllowAdding="true"
                      AllowDeleting="true"
                      Mode="EditMode.Normal" />
    <GridSelectionSettings Type="SelectionType.Single" Mode="Syncfusion.Blazor.Grids.SelectionMode.Row"></GridSelectionSettings>

    <GridColumns>
        <GridColumn Field="Id" HeaderText="ID" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="DisplayName" HeaderText="Name" Width="200"></GridColumn>
        <GridColumn Field="FolderRelativePath" HeaderText="Path" Width="200"></GridColumn>
        <GridColumn Field="DisplayOrder" HeaderText="Order" Width="100" TextAlign="TextAlign.Right"></GridColumn>
    </GridColumns>
    <GridEvents TValue="FolderRecord" OnActionComplete="@ActionCompleteCallback">
    </GridEvents>
</SfGrid>

@code {
    private string SelectedTable = "FormsFolders";
    private List<FolderRecord> FolderList = new();
    private SfGrid<FolderRecord>? GridRef;

    private EventCallback<ActionEventArgs<FolderRecord>> ActionCompleteCallback =>
        EventCallback.Factory.Create<ActionEventArgs<FolderRecord>>(this, OnGridActionComplete);

    protected override async Task OnInitializedAsync()
    {
        await LoadFolders();
    }

    private async Task LoadFolders()
    {
        FolderList = await FolderService.GetFoldersAsync(SelectedTable);
    }

    private async Task OnGridActionComplete(ActionEventArgs<FolderRecord> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (args.Action == "Add")
            {
                if (args.Data is not null)
                    await FolderService.AddFolderAsync(SelectedTable, args.Data);
            }
            else if (args.Action == "Edit")
            {
                if (args.Data is not null)
                    await FolderService.UpdateFolderAsync(SelectedTable, args.Data);
            }
        }
        else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            var id = args.Data?.Id;
            if (id.HasValue)
                await FolderService.DeleteFolderAsync(SelectedTable, id.Value);
        }

        await LoadFolders();
        StateHasChanged();
    }

    private void OpenFormFileManager()
    {
        Navigation.NavigateTo("/admin/forms-files");
    }
}
