@page "/"
@inject SalesService SalesService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TitleService TitleService
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims


<PageTitle>Chapin Rep Portal</PageTitle>

<h3> Welcome to the Chapin Rep Portal</h3>

@if (isLoggedIn)
{
	<p></p>
	<p>💡 Heads Up: You're now viewing <strong>live</strong> data on this portal — no more waiting for overnight updates. What you see reflects what's happening right now.</p>


   
   
}
else
{
    <p>Please log in to continue your session.</p>
}


<AuthorizeView Roles="Administrator,User,SalesManager">
        <RepCodeSwitcher />
    </AuthorizeView>


@code {
    private string repAgency;
    private string repFirstName;
    private bool isLoggedIn = false;
    private string repCode;

    protected override async Task OnInitializedAsync()
    {
	    TitleService.PageSubtitle = "";
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isLoggedIn = true;

            repFirstName = user.FindFirst(c => c.Type == "FirstName")?.Value;
            repCode = user.FindFirst(c => c.Type == "RepCode")?.Value;
            var assignedRegion = user.FindFirst("AssignedRegion")?.Value;
            if (!string.IsNullOrEmpty(repFirstName))
            {
                //repAgency =  SalesService.GetRepAgency(repCode);
            }
        }
    }




}
