<div class="page-note">
    <p class="mb-1"><strong>Customer number</strong> - is the individual account number, tied to an account. For example, an account may have a drop-ship account as well as a warehouse account. Each of these accounts would be differentiated with a different account number. </p>
    <p class="mb-1"><strong>Corporate number</strong> - Chapin generates a corporate number when necessary for accounts that have multiple accounts. This corporate number is the overarching number that ties all the accounts together so when reviewing an account, the data will reflect the value of the entire account.</p>
</div>

<style>
    .page-note {
        font-size: 0.8rem;
    }
</style>